.container1 ul
{
	list-style: none;
}
.container1 ul li
{
	background-color: #6447AD;
	width: 150px;
	border: 1px solid white;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	color: white;
	font-size: 18px;
	position: relative;
}
.container1 ul li:hover
{
	background-color: #1DBD21;
}
.container1 ul ul
{
	display: none;
}
.container1 ul li:hover > ul
{
	display: block;
}
.container1 ul ul ul
{
	margin-left: 150px;
	top:0px;
	position: absolute;
}
